@layer components {
  .iconButtonRoot {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--tertiary-color);
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    outline: none;
    border: none;
    border-radius: var(--border-radius-large);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 24px;
  }

  .iconButtonRoot svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }

  .iconButtonRoot:hover {
    background-color: var(--tertiary-variant-color);
  }

  .iconButtonRoot:disabled {
    cursor: not-allowed;
    background-color: var(--tertiary-color);
  }
}
