.authContentWrap {
  --auth-logo-indent: 30px;
  --auth-logo-size: 36px;

  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  top: var(--auth-logo-indent);
  left: var(--auth-logo-indent);
  width: var(--auth-logo-size);
  height: var(--auth-logo-size);
}
