@use "@/shared/styles/breakpoints" as breakpoints;

@layer base {
  .stackRoot {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: var(--notification-zIndex);

    &[data-horizontal="right"] {
      right: 30px;
      left: auto;
      align-items: flex-end;
    }

    &[data-horizontal="left"] {
      left: 30px;
      right: auto;
      align-items: flex-start;
    }

    &[data-horizontal="center"] {
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      align-items: center;
    }

    &[data-vertical="bottom"] {
      bottom: 80px;

      @media (max-width: breakpoints.$mobile) {
        bottom: 4vh;
      }
    }

    &[data-vertical="top"] {
      top: 80px;

      @media (max-width: breakpoints.$mobile) {
        top: 4vh;
      }
    }

    &[data-horizontal="right"],
    &[data-horizontal="left"] {
      @media (max-width: breakpoints.$mobile) {
        right: 8vw;
        left: 8vw;
        transform: none;
        align-items: center;
      }
    }
  }
}
