@layer components {
  .container {
    position: relative;
    height: 4px;
    width: 100%;
    overflow: hidden;
    background-color: var(--main-color-20);
  }

  .progress {
    height: 100%;
    background-color: var(--grey-color-50);
    transform-origin: left;
    transition: transform 0.15s linear;
  }
}
