@use "@/shared/styles/breakpoints" as breakpoints;
@use "@/shared/styles/mixins" as mixins;

@layer overrides {
  .button {
    color: var(--text-color);
    background-color: var(--dark-grey-color);
    flex-shrink: 0;
    margin-left: 16px;

    &:hover {
      background-color: var(--surface-color-variant);
    }

    &:active {
      background-color: var(--surface-color-variant);
    }

    @media (max-width: breakpoints.$mobile) {
      margin-top: 20px;
      width: 100%;
      margin-left: 0;
    }
  }
}

@layer components {
  .rootControlRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    @media (max-width: breakpoints.$mobile) {
      flex-wrap: wrap;
    }
  }

  .descriptionWrap {
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .descriptionText {
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  .title {
    font: var(--text-semibold-large);
    color: var(--text-color);
    margin-bottom: 5px;
  }

  .info {
    @include mixins.truncateText;

    font: var(--text-regular-small);
    color: var(--text-secondary-color);
  }

  .avatar {
    width: 48px;
    height: 48px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    border-radius: 100px;
    background-color: var(--dark-grey-color);
    flex-shrink: 0;

    svg {
      height: 1em;
      width: 1em;
    }
  }
}
