@use "@/shared/styles/mixins" as mixins;

.headerRoot {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.avatar {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  color: var(--text-color);
}

.description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.username {
  @include mixins.truncateText;

  font: var(--title);
  color: var(--title-color);
}

.email {
  @include mixins.truncateText;

  font: var(--text-semibold-medium);
  color: var(--text-secondary-color);
}
