// Dark palette
$dark-surface-color: rgb(36, 47, 61);
$dark-surface-color-40: rgba(36, 47, 61, 0.4);
$dark-surface-color-variant: rgb(57, 73, 94);
$dark-background-color: rgb(23, 33, 43);
$dark-background-secondary-color: rgb(36, 47, 61);
$dark-background-tertiary-color: rgb(36, 47, 61);
$dark-text-color: rgb(255, 255, 255);
$dark-text-secondary-color: rgb(127, 145, 164);
$dark-text-tertiary-color: rgb(127, 145, 164);
$dark-text-selection-background-color: rgb(108, 114, 122);
$dark-backdrop-color: rgba(23, 33, 43, 0.75);
$dark-title-color: rgb(255, 255, 255);
$dark-line-color: rgb(44, 55, 67);
$dark-grey-color: rgb(127, 145, 164);
$dark-grey-color-75: rgba(127, 145, 164, 0.75);
$dark-grey-color-50: rgba(127, 145, 164, 0.5);
$dark-grey-color-10: rgba(127, 145, 164, 0.1);
$dark-muted-surface-color: rgb(74, 88, 103);
$dark-deep-surface-color: rgb(38, 50, 92);
$dark-deep-surface-color-50: rgba(38, 50, 92, 0.5);
$dark-main-color: rgb(113, 119, 248);
$dark-main-color-20: rgba(113, 119, 248, 0.2);
$dark-main-variant-color: rgb(82, 90, 255);
$dark-secondary-color: rgba(127, 145, 164, 0.5);
$dark-secondary-variant-color: rgba(127, 145, 164, 0.7);
$dark-tertiary-color: rgb(36, 47, 61);
$dark-tertiary-variant-color: rgb(57, 73, 94);
$dark-danger-color: rgb(255, 98, 112);
$dark-on-main-color: rgb(255, 255, 255);
$dark-shadow-soft-color: rgba(0, 0, 0, 0.03);
$dark-shadow-strong-color: rgba(0, 0, 0, 0.13);

// Light palette
$light-surface-color: rgb(255, 255, 255);
$light-surface-color-40: rgba(255, 255, 255, 0.4);
$light-surface-color-variant: rgb(235, 239, 245);
$light-background-color: rgb(245, 247, 250);
$light-background-secondary-color: rgb(255, 255, 255);
$light-background-tertiary-color: rgb(235, 239, 245);
$light-text-color: rgb(31, 41, 55);
$light-text-secondary-color: rgb(78, 93, 113);
$light-text-tertiary-color: rgb(89, 105, 127);
$light-text-selection-background-color: rgb(215, 212, 255);
$light-backdrop-color: rgba(31, 41, 55, 0.4);
$light-title-color: rgb(31, 41, 55);
$light-line-color: rgb(121, 133, 151);
$light-grey-color: rgb(89, 105, 127);
$light-grey-color-75: rgba(89, 105, 127, 0.75);
$light-grey-color-50: rgba(89, 105, 127, 0.5);
$light-grey-color-10: rgba(89, 105, 127, 0.1);
$light-muted-surface-color: rgb(226, 232, 241);
$light-deep-surface-color: rgb(37, 51, 75);
$light-deep-surface-color-50: rgba(37, 51, 75, 0.5);
$light-main-color: rgb(87, 81, 216);
$light-main-color-20: rgba(87, 81, 216, 0.2);
$light-main-variant-color: rgb(68, 61, 186);
$light-secondary-color: rgba(89, 105, 127, 0.12);
$light-secondary-variant-color: rgba(89, 105, 127, 0.2);
$light-tertiary-color: rgb(235, 239, 245);
$light-tertiary-variant-color: rgb(226, 232, 241);
$light-danger-color: rgb(190, 42, 65);
$light-on-main-color: rgb(255, 255, 255);
$light-shadow-soft-color: rgba(31, 41, 55, 0.06);
$light-shadow-strong-color: rgba(31, 41, 55, 0.1);
