@layer components {
  .dropdownContainer {
    max-height: calc(100dvh - 80px);
    overflow-y: auto;
    min-width: 260px;
    z-index: 1000;
    margin-top: 4px;
    position: absolute;
    border-radius: 12px;
    background-color: var(--background-color);
    padding: 16px 0;
    box-shadow: var(--common-bs);
    border: 1px solid var(--line-color);
    color: var(--text-color);

    --dropdown-duration: 250ms;
  }

  .enter {
    transform: translateY(-1%);
    opacity: 0;
  }
  .enterActive {
    transform: translateY(0);
    opacity: 1;
    transition:
      transform var(--dropdown-duration) ease-out,
      opacity var(--dropdown-duration) ease-out;
  }
  .enterDone {
    transform: translateY(0);
    opacity: 1;
  }
  .exit {
    transform: translateY(0);
    opacity: 1;
  }
  .exitActive {
    transform: translateY(-1%);
    opacity: 0;
    transition:
      transform var(--dropdown-duration) ease-in,
      opacity var(--dropdown-duration) ease-in;
  }
  .exitDone {
    transform: translateY(-1%);
    opacity: 0;
  }
}
