@layer components {
  .toggleMenuWrapper {
    display: flex;
    position: relative;
    width: 24px;
    height: 18px;
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    color: inherit;
  }

  .rootLine {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    transition: 0.25s;
    border-radius: 100px;
    background: currentColor;
  }

  .overlay {
    z-index: var(--overlay-elem-zIndex);
  }

  .open {
  }

  .firstLine {
    top: 0;
  }

  .secondLine {
    top: calc(50% - 1px);
  }

  .thirdLine {
    bottom: 0;
  }

  .toggleMenuWrapper.open .firstLine {
    rotate: 45deg;
  }

  .toggleMenuWrapper.open .secondLine {
    opacity: 0;
  }

  .toggleMenuWrapper.open .thirdLine {
    rotate: -45deg;
  }

  .toggleMenuWrapper.open .rootLine {
    top: calc(50% - 1px);
  }
}
