@use "@/shared/styles/breakpoints" as breakpoints;

@layer utils {
  .dropdownToggle {
    color: inherit;
    font: inherit;
    padding: 6px 0;
  }
}

@layer overrides {
  .dropdownContent {
    top: 36px;
    right: -12px;

    @media (max-width: breakpoints.$mobile) {
      display: none;
    }
  }
}

.rootContainer {
  position: relative;
  margin-left: 6px;

  @media (max-width: breakpoints.$mobile) {
    display: none;
  }
}

.toggleEndIconContainer {
  transition: inherit;
  display: flex;
  gap: 4px;
}

.dropdownChevron {
  transition: inherit;
  color: var(--text-secondary-color);

  .dropdownToggle:hover & {
    color: inherit;
  }
}
