@layer components {
  .menuContainer {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: var(--overlay-layer-zIndex);
    background: var(--surface-color);
    position: fixed;
    top: 0;
    right: 0;

    --drawer-duration: 200ms;
  }

  .enter {
    transform: translateY(-1%);
    opacity: 0;
  }
  .enterActive {
    transform: translateY(0);
    opacity: 1;
    transition:
      transform var(--drawer-duration) ease-out,
      opacity var(--drawer-duration) ease-out;
  }
  .enterDone {
    transform: translateY(0);
    opacity: 1;
  }
  .exit {
    transform: translateY(0);
    opacity: 1;
  }
  .exitActive {
    transform: translateY(-1%);
    opacity: 0;
    transition:
      transform var(--drawer-duration) ease-in,
      opacity var(--drawer-duration) ease-in;
  }
  .exitDone {
    transform: translateY(-1%);
    opacity: 0;
  }
}
